<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app.activity"
    android:versionCode="1"
    android:revisionCode="0"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissões para poder usar o GPS do celular -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_wiser_2"
        android:supportsRtl="true"
        android:theme="@style/AppTema" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Activity do Splash Screen -->
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTema.NoActionBar" >
            <intent-filter>
                <!-- Indica que o Sistema deve ser iniciado nesta Activity -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Pesquisa -->
        <activity
            android:name=".pesquisa.PesquisaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- Activity para Logar com o Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Activity da Tela Configurações -->
        <activity
            android:name=".configuracao.ConfiguracoesActivity"
            android:label="@string/title_configuracoes"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela Contatos -->
        <activity
            android:name=".contatos.ContatosActivity"
            android:label="@string/title_contatos"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela Login -->
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTema.NoActionBar" />

        <!-- Activity da Tela Sobre -->
        <activity
            android:name=".sobre.SobreActivity"
            android:label="@string/title_sobre"
            android:screenOrientation="portrait" />
    </application>

</manifest>
