<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app.activity"
    android:versionCode="1"
    android:revisionCode="0"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissões para poder usar o GPS do celular -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_wiser"
        android:supportsRtl="true"
        android:theme="@style/AppTema"
        android:label="@string/app_name">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Activity do Splash Screen -->
        <!-- Activity Main do App -->
        <activity
            android:name=".app.splashscreen.AppSplashScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTema.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity para Logar com o Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Activity da Tela Configurações do App -->
        <activity
            android:name=".app.configuracoes.AppConfiguracoesActivity"
            android:label="@string/title_app_configuracoes"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela Login do App -->
        <activity
            android:name=".app.login.AppLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTema.NoActionBar" />

        <!-- Activity da Tela Principal do App -->
        <activity
            android:name=".app.principal.AppPrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTema"/>

        <!-- Activity da Tela Sobre do App -->
        <activity
            android:name=".app.sobre.AppSobreActivity"
            android:label="@string/title_app_sobre"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Resultados do Chat  -->
        <activity
            android:name=".chat.resultados.ChatResultadosActivity"
            android:label="@string/title_chat_resultados"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Discussões do Forum -->
        <activity
            android:name=".forum.discussao.ForumDiscussaoActivity"
            android:label="@string/title_forum_discussao"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Discussões do Forum -->
        <activity
            android:name=".forum.minhas_discussoes.ForumMinhasDiscussoesActivity"
            android:label="@string/title_forum_minhas_discussoes"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Nova Discussão do Forum -->
        <activity
            android:name=".forum.nova_discussao.ForumNovaDiscussaoActivity"
            android:label="@string/title_forum_nova_discussao"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Pesquisa do Forum -->
        <activity
            android:name=".forum.pesquisa.ForumPesquisaActivity"
            android:label="@string/title_forum_pesquisa"
            android:screenOrientation="portrait" />

    </application>

</manifest>
