<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app.activity"

    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissões para poder usar o GPS do celular -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light"
         >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="con.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activity da Tela Pesquisa -->
        <activity
            android:name=".pesquisa.PesquisaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <intent-filter>
                <!-- Indica que o App deve ser iniciado nesta Activity -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity para Logar com o FacebookActivity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Activity da Tela Configurações -->
        <activity
            android:name=".configuracao.ConfiguracoesActivity"
            android:label="@string/title_configuracoes" />

        <!-- Activity da Tela Contatos -->
        <activity
            android:name=".contatos.ContatosActivity"
            android:label="@string/title_contatos" />

        <!-- Activity da Tela Login -->
        <activity
            android:name=".login.LoginActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

        <!-- Activity da Tela Sobre -->
        <activity
            android:name=".sobre.SobreActivity"
            android:label="@string/title_sobre" />

    </application>

</manifest>
